body {
    /* font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

.container-product {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.add-product {
    text-align: center;
    margin-bottom: 20px;
}

.form-product {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-add-product, #form-description, .select-category, .submit-form-product {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-form-product {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

.submit-form-product:hover {
    background-color: #218838;
}