@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Istok Web", sans-serif;
    box-sizing: border-box;
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
body {
    background: #fbfbfb;
}


.container-category {
    max-width: 1200xpx;
    margin: 0 auto;
     padding: 0 20px;
   }

.container-category .open-sidebar {
    position: fixed;
    top: 50%;
    left: 0px;
    z-index: 10;
    font-size: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    padding-top: 0;
    padding-left: 0;


}

.container-category .open-sidebar .fa-bars {
    border-radius: 50%;
    background-color: #FF9300;
    width: 44px;
    height: 44px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-category .close-sidebar {
    cursor: pointer;
     display: flex;
    justify-content: end;

}

.container-category .close-sidebar .fa-xmark {
    font-size: 25px;
}



.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}


.slider {
    width: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    /* top: -50px; */
    /* right: -160px; */
}



.slider-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.slider-buy {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.sidebar h2 {
    margin-top: 20px;
}


.products {
    width: 100%;
    margin: 0 auto;
}

.products #category-title {
    font-family: SVN-poppins, sans-serif;
    color: #000;
    font-weight: 600;
    margin-bottom: 30px;
}

.products #sort-price {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.category-item {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #fff;
    cursor: pointer;
    padding: 10px;
   border-bottom: 1px solid #ccc;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
     align-items: center;
    margin-left: auto;
 }

.category-item:hover {
    background: #ffc107;
    color: #fff;
}

.category-item.active {
    background: #ffc107;
    color: #fff;
}
.category-item img.category-icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.products {
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.product-card .card {
    position: relative;
    width: 300px;
    height: 500px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card .card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #ffce00;
    transform: skewY(345deg);
    transition: 0.5s;
}

.product-card .card:hover::before {
    top: -20%;
    transform: skewY(390deg);
}

.product-card .card::after {
    content: "CORSAIR";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
}

.product-card .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index:1;
}


.product-card .card .imgBox img {
    max-width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
        align-items: center;
        justify-content: center;
 
}

.product-card .card:hover .imgBox img {
    max-width: 70%;
    height: 80%;
    position: relative;
    transition: 0.5s;

}

.product-card .card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.product-card .card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #ffce00;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.product-card .card:hover .contentBox .buy {
    top: 10px;
    opacity: 1;
}

.mouse {
    height: 300px;
    width: auto;
}


/*  Search */
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#000;
}
.input-search::placeholder{
  color:#000;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ccc;
  background-color:transparent;
  pointer-events: painted;  
}

.btn-search:focus ~ .input-search{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid #000;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid #000;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.no-product-message {
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
}